<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>  </title>
    <link rel="stylesheet" type="text/css" media="screen" href="https://cdn.bootcss.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"  crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"  crossorigin="anonymous">
    <style media="screen">
      div.cont{background: #f1f1f1;color:;border-radius: 15px;}
    </style>
  </head>
  <body>
    {include file="index/head"}

    <div class="container text-center">

      <div class="panel panel-default">

          <div class="panel panel-heading">
            {volist name="res" id="ve" }
            <h4 class="panel-title text-left">标题：{$ve.us_title} <span class="text-right"> 时间：{$ve.us_time}</span> </h4>
            {/volist}
          </div>

          <div class="panel-body">
            <div class="text-left">  {$ve.us_content} </div>
            <hr>
            {volist name="arr" id="vo" }
              <div class="well well-sm text-left">
                {$vo.user_name} 回复内容： {$vo.us_content} <br>发表于：{$vo.us_time}  信息id ：{$vo.id}
                <div class="text-right" onclick="fn({$vo.id})">
                  点击回复
                </div>
              </div>
            {/volist}
          </div>


      </div>



      <div class="row" style="display:none;" id="csan">
          <form class=""  id="csfn" >
            <textarea style="width:1150px;height:100px;" id="fcontent" class="form-control"  placeholder="写点什么吧！" name="us_content">  </textarea>
            被回复id： <input  type="text" name="p_id" value="">
            用户id：<input type="text" name="us_id" value="{$vo.uid}">
            <button class="" type="" onclick="dj()" >
              提交
            </button>
          </form>

      </div>

    </div>
  </body>
</html>
<script type="text/javascript" src="__PUBLIC__/static/lib/jquery/1.9.1/jquery.min.js"></script>
<script charset="utf-8" src="__PUBLIC__/static/kindeditor/kindeditor-all.js"></script>
<script charset="utf-8" src="__PUBLIC__/static/kindeditor/kindeditor-all-min.js"></script>
<script charset="utf-8" src="__PUBLIC__/static/kindeditor/zh-CN.js"></script>
<script type="text/javascript">
    function fn(a){
      $("#csan").css("display","block");
      $("input[name='p_id']").val(a);
    }
    function dj(){

      editor.sync();  //获取不到kindEditor 内容，添加 editor.sync() 同步数据后可以直接取得textarea的value
      url = "{:url('index/hf')}";

      formlize = $("#csfn").serialize(); //获取form表单的值
      //data = $("#fcontent").val();
      alert(formlize);
      $.ajax({
        type:'POST',
        url:url,
        data:formlize,
        success:function(success){
          alert("添加成功");
        },
        error:function(error){
          alert("添加失败");

        }
      });
    }
</script>
<script>
  KindEditor.ready(function(K) {
          window.editor = K.create('#fcontent');

  });

</script>
