<div class="container" style="margin-top:20px;">

  <nav class="navbar navbar-default">
    <div class="container-field">
      <div class="navbar-header">
        <a class="navbar-brand" href="{:url('index/index')}"> 小小的留言板 </a>
      </div>
      <ul class="nav navbar-nav">
          <li class="active"><a href="{:url('index/index')}">首页 <span class="sr-only">(current)</span></a></li>
          <li><a href="{:url('index/inlog')}">发布留言/日志</a></li>
      </ul>
         {php}$name = session('name');{/php}
      <ul class="nav navbar-nav navbar-right">

          {if condition="session('name')"}
          <li><a href="#">欢迎您！{$name}</a></li>
          <li><a href="{:url('index/unses')}">退出</a></li>
          {else/}
          <li><a href="">注册</a></li>
          <li><a href="">登录</a></li>
          {/if}

      </ul>
    </div>
  </nav>

</div>
